<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
    [ngStyle]="{'width': collabseSideBarWidth()}" (openedChange)="onSidenavOpenedChange($event)"
    (closedStart)='onSidenavClosedStart()'>
    <mat-toolbar class="side-main-menu-toolbar">
      <div class="comapany-detail-container">
        <div class="company-logo-container">
          <img class="company-profile" src="assets/test.jpg" alt="avatar" width="40">
        </div>
        <div class="company-name-container">
          <h6>company name</h6>
        </div>
      </div>
      <div class="close-open-button-container">
        <!-- @if(isHandset$ | async){ -->
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="material-symbos-out">
            arrow_back
          </mat-icon>
        </button>
        <!-- } @else {
        <button mat-icon-button (click)="this.collabseSideBar.set(!this.collabseSideBar())">
          <mat-icon>
            menu
          </mat-icon>
        </button>
        } -->
      </div>
    </mat-toolbar>
    <div class="side-bar-content-container" PerfectScrollbar>
      <div class="user-panel-container">
        <app-user-panel [collapsed]="this.collabseSideBar()"></app-user-panel>
      </div>
      <app-sidebar-menu-list [menuList]="menuList"></app-sidebar-menu-list>

   </div>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-left': collabseSideBarWidth()}">
    <mat-toolbar color="primary" class='content-toolbar'>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-toolbar></app-toolbar>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>