.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content-toolbar{
  height: 64px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .4);
}
