<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" [ngStyle]="{'width': collabseSideBarWidth()}"
      (openedChange)="onSidenavOpenedChange($event)"
      (closedStart)='onSidenavClosedStart()'>
    <mat-toolbar style="height:200px; background-color: red;" [ngStyle]="{'width': collabseSideBarWidth()}">
      <div style="height: 100%; width: 100%; display: flex; flex-direction: column;">
      <div style="height: 64px; width: 100%; display: flex; align-items: flex-end; flex-direction: row;">
        <div style="width: 100%;">

        </div>
        <div style="width: 64px;">
          @if(isHandset$ | async){
            <button mat-icon-button (click)="this.collabseSideBar.set(!this.collabseSideBar())">
              <mat-icon class="material-symbos-out">
                arrow_back
              </mat-icon>
            </button>
          } @else {
            <button mat-icon-button (click)="this.collabseSideBar.set(!this.collabseSideBar())">
              <mat-icon>
                menu
              </mat-icon>
            </button>
          }
        </div>
      </div>
      <div style="width: 100%; height: 100%;">
        <app-avatar [name]="'Ram sankar'"></app-avatar>
      </div>
    </div>
    </mat-toolbar>
    @for (item of menu; track $index) {
      <mat-nav-list>
        <a mat-list-item href="item.path">
          <mat-icon [style.width]="'64px'">{{item.icon}}</mat-icon>
          <span>{{item.name}}</span>
        </a>
      </mat-nav-list>
    }
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-left': collabseSideBarWidth()}">
    <mat-toolbar color="primary" class='content-toolbar'>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-toolbar></app-toolbar>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
